@page
@model ExampleWebSite.Pages.CallsModel
@{
}
<form method="post" >
    <div class="form-group">
        <label>Начальная дата</label>
        <input type = "date" name="StartDate">
        <label>Конечнная дата</label>
        <input type = "date" name="EndDate">    
        <select name="Type">
            <option>All</option>
            <option>In</option>
            <option>Out</option>
            <option>Missed</option>
        </select>
        <label for="exampleFormControlSelect1">Лимит звонков</label>
        <input type = "number" name="Limit"> 
       
    </div>

    <button type="submit" class="btn btn-primary">Показать</button>
</form>

<table>
    <thead>
        <tr>
            <th scope="col">UID</th>
            <th scope="col">Type</th>
            <th scope="col">Client</th>
            <th scope="col">Account</th>
            <th scope="col">Via</th>
            <th scope="col">Start</th>
            <th scope="col">Wait</th>
            <th scope="col">Duration</th>
            <th scope="col">Record</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach(var call in Model.Calls)
            {
                <tr>
                    <td>@call.UID</td>
                    <td>@call.Type</td>
                    <td>@call.Client</td>
                    <td>@call.Account</td>
                    <td>@call.Via</td>
                    <td>@call.Start</td>
                    <td>@call.Wait</td>
                    <td>@call.Duration</td>
                    <td>@call.Record</td>
                </tr>
            }

        
        
    </tbody>
</table>
